[submodule "auto-compile"]
	path = vendor/auto-compile
	url = https://github.com/tarsius/auto-compile
[submodule "packed"]
	path = vendor/packed
	url = https://github.com/tarsius/packed
[submodule "use-package"]
	path = vendor/use-package
	url = https://github.com/jwiegley/use-package
[submodule "dash"]
	path = vendor/dash
	url = https://github.com/magnars/dash.el
[submodule "evil"]
	path = vendor/evil
	url = https://github.com/Bogdanp/evil.git
[submodule "robot-mode"]
	path = vendor/robot-mode
	url = https://github.com/sakari/robot-mode
[submodule "better-default-theme"]
	path = vendor/better-default-theme
	url = https://github.com/Bogdanp/better-default-theme.el
[submodule "vendor/twilight-anti-bright-theme"]
	path = vendor/twilight-anti-bright-theme
	url = git@github.com:Bogdanp/twilight-anti-bright-theme
[submodule "vendor/elm-mode"]
	path = vendor/elm-mode
	url = git@github.com:Bogdanp/elm-mode
[submodule "vendor/evil-commentary"]
	path = vendor/evil-commentary
	url = https://github.com/linktohack/evil-commentary
[submodule "vendor/evil-jumper"]
	path = vendor/evil-jumper
	url = https://github.com/bling/evil-jumper
[submodule "vendor/evil-visualstar"]
	path = vendor/evil-visualstar
	url = https://github.com/bling/evil-visualstar
[submodule "vendor/ido-clever-match"]
	path = vendor/ido-clever-match
	url = https://github.com/Bogdanp/ido-clever-match
[submodule "vendor/evil-indent-textobject"]
	path = vendor/evil-indent-textobject
	url = https://github.com/cofi/evil-indent-textobject
[submodule "vendor/evil-visual-mark-mode"]
	path = vendor/evil-visual-mark-mode
	url = https://github.com/roman/evil-visual-mark-mode
