*~undo-tree~
*.elc
\#*
/.python-environments/
/ac-comphist.dat
/backups/
/doc/*.html
/doc/*.tex
/elpa/
/eshell/
/places
/url/cookies
/.org-id-locations
/.smex-items
/.litable-lists.el
/auto-save-list
/el-get
