*~undo-tree~
*.elc
\#*
/*.html
/*.tex
/.python-environments/
/ac-comphist.dat
/backups/
/elpa/
/eshell/
/places
/url/cookies
/.org-id-locations
/.smex-items
/.litable-lists.el
/auto-save-list
/el-get
/tramp
/eww-bookmarks
/url/
/bookmarks
/temp/
/abbrev_defs
/recentf
/savehist
/projectile-bookmarks.eld
/projectile.cache
/.projectile
/ido.last
/server/
/irony/
