*.elc
*~undo-tree~
/*.html
/*.log
/*.tex
/.litable-lists.el
/.org-id-locations
/.projectile
/.python-environments
/.smex-items
/abbrev_defs
/ac-comphist.dat
/auto-save-list
/backups
/bookmarks
/el-get
/elpa
/eshell
/eww-bookmarks
/places
/private
/projectile-bookmarks.eld
/projectile.cache
/recentf
/savehist
/temp
/tramp
/url
\#*
/helm-adaptive-history
/semanticdb
/tldr
